* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  min-width: 990px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100%;
  position: relative;
}

ol,
ul {
  list-style: none outside none;
}

a {
  color: inherit;
  text-decoration: none;
}



/* layout */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#vue-body {
  width: 90%;
  margin: 0 auto;
}

.header-index {
  width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
}
.header-index-inner {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-index-log {
  display: inline-block;
  margin: 0 60px;
  width: 140px;
  height: 80px;
  background: url("http://127.0.0.1:8080/src/imgs/logo.png") no-repeat;
  background-size: 140px 80px;
}

.header-user {
  flex-basis: 200px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  position: relative;
}
.user-avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.user-title {
  position: absolute;
  margin-left: 50px;
  line-height: 80px;
  font-size: 14px;
}

.inner-center {
  display: flex;
  height: 80vh;
}
.inner-center .aside-left {
  min-width: 220px;
  border: 1px solid #ddd;
  margin-right: 40px;
  background: #fff;
}

.inner-center .main {
  /*flex-grow:'瓜分'父项的剩余空间  */
  flex-grow: 1;
}
.l-nav-item {
  height: 50px;
  line-height: 50px;
}
.l-nav-item > a {
  border-left: 3px solid transparent;
  display: block;
  color: #333;
  text-indent: 20px;
}
.l-nav-item a.active {
  border-color: #DE0119;
  color: #DE0119;
}

.l-nav-item a:hover {
  color: #DE0119;
}

.songs-component .tabs{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.upload{
  height: 60px;
}

.upload .btn-upload{
   height: 40px;
   width: 110px;
   color: white;
   cursor: pointer;
   background: url(./icon/upload.png) no-repeat #DE0119 right bottom;
   background-size: 18px 18px; 
   background-position: top 10px left 12px;
   border: none;
   border-radius: 3px;
   vertical-align: top;
   /* 块级元素 首行文字缩进 */
   text-indent:12px;
}
.search{
  height: 60px;
  flex-grow: 1;

}
.search input{
  display: inline-block;
  height: 40px;
  width:200px;
  vertical-align: top;
}

input:focus{
  outline: none;

}
.search .btn-search{
  display: inline-block;
  width:40px;
  height:40px;
  background:#DE0119;
  vertical-align: top;
  cursor: pointer;
  border: none;
  margin-left: -1px;
  border-radius: 0 3px 3px 0;

}

.btn-search .icon{
  width: 28px;
  height: 28px;
  margin-top:4px;
  margin-left: 4px;
}


.songs-component .flex-list-header {
  line-height: 42px;
  border: 1px solid #ddd;
}

.flex-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.songs-component .flex-list .flex-cell {
  padding: 0 20px;
  width: 168px;
}


.flex-list-item {
  border: 1px solid #ddd;
  background: #fff;
  line-height: 42px;
}

.flex-list-item.first{
  margin-top: 21px;
  border-bottom: none;
}

.songs-component .flex-list-item .flex-cell {
  border-right: 1px solid #eee;
}

.flex-row .operating{
  color: #DE0119;
}

#upload-pop-mask{
  display: none;
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.upload-pop-wrapper{
  background: white;
  display: none;
  width: 480px;
  height: 300px;
  border-top: 4px solid #DE0119;
  z-index:400;
  /* fixed相对视口位置 */
  position: fixed; 
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto; 

}

.upload-pop-hd{
  position: relative;
  color: #999;
  margin-bottom: 30px;
}

.upload-pop-hd h3{
  margin: 5px;
}

.pop-close{
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left:456px;
  top: 1px; 
}
.pop-close:hover{
  color: #333;

}


div#uploadContainer {
  border: 2px dashed #999;
  border-radius: 10px;
  width: 450px;
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  position: absolute;
  left: 20px;
}
